<div id="page">
      <div class="login-window">
        <div class="login-window-title">
          <h2>Event <%=@booking.name%></h2>
        </div>
        <div class="login-window-text">
          <b>Cat name: </b><%= @booking.name %><br>
          <b>Date: </b><%= @booking.start_time %><br><br>
          <b>Description: </b><br>
          <%= @booking.description %>
          <br><br>
          <b>Participants:</b><br>
          <% @booking.attendances.each do |attendance| %>
            <%= attendance.user.email %><br>
          <% end %>
          <br>
          <% if @user_attendance %>
            <%= link_to "Remove attend", booking_attendance_path(@booking, @user_attendance), method: :delete %>
          <% else %>
            <%= form_with(model: [ @booking, @booking.attendances.build ], local: true) do |form| %>
              <div class="actions">
                <%= form.submit "Attend" , :class => 'login-button' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="login-window-register">
          <% if @booking.paid == "true" %>
            Already paid!
          <% elsif  @booking.paid == "onhold"%>
            Waiting payment to process<br>
            <img src="http://gifimage.net/wp-content/uploads/2017/08/loading-gif-transparent-10.gif" height="30">
            <META HTTP-EQUIV="refresh" CONTENT="3">
          <% else %>
            <%= form_tag booking_charge_path(@booking), {method: :post} do %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                  <label class="amount">
                    <span>Booking is not paid yet!</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Booking payment for <%=@booking.name%>"
                        data-amount="1000"
                        data-locale="auto"></script>
            <% end %>
          <% end %>
        </div>
        <div class="login-window-clear"></clear>
        <div class="login-window-footer">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
</div>


