<div class="login-window">
  <div class="login-window-title">
    <h2>Event <%=@booking.name%></h2>
  </div>
  <div class="login-window-text">
    <b>Cat name: </b><%= @booking.name %><br>
    <b>Date: </b><%= @booking.start_time %><br><br>
    <b>Description: </b><br>
    <%= @booking.description %>
    <br><br>
    <b>Participants:</b><br>
    <% @booking.attendances.each do |attendance| %>
      <%= attendance.user.email %><br>
    <% end %>
    <br>
  </div>
  <div class="login-window-clear"></clear>
  <div class="login-window-footer">
  </div>
</div>
